[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-admin = "*"
flask-swagger = "*"
flask-restx = "*"
python-decouple = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.11"
